*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    box-sizing: inherit;
}
.nav-bar{
    display: block;
    padding: 0.5rem;
    position: fixed;
    height: 100%;
    min-width: 200px;
    left: 0;
    top: 0;
    border-right: 2px solid rgb(27, 27, 27);
    overflow-y: scroll;
    background-color: white;
}
nav header{
    font-size: 2em;
}
.nav-bar li{
    list-style: none;
    padding: 0.5rem;
    border-bottom: 1px solid grey;
}
.nav-bar li:hover{
    background: hsl(120, 100%, 90%);
}
.nav-bar a{
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 1rem;
}
#main-doc{
     
    width: calc(100% - 230px);
    position: relative;
    margin-left: 215px;
    padding: 2em;
    line-height: 1.5rem;
    word-break: break-all;
}
header{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
section[id] {
    margin: 10px;
    
}
section code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}
section ul{ 
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
@media screen and (max-width: 768px) {
    .nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-width: unset;
        border-right: none;
        z-index: 3; 
    }
    .nav-bar ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
     #main-doc {
                width: 100%;
                margin-left: 0;
                margin-top: 130px; /* Adjust based on nav height */
                padding: 1em;
                z-index: 2;
            }

}   
    
