.container{
  width: 80%;
  border: 1px solid black;
}
.float{
    background-color: green;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
}
.container::after{
    display: block;
    content: "";
    clear: both;
}
p{
    /*   position: relative;  // positions the element to the right,Dont use with float property*/
   float: right;
    margin: 10px;
    
}