:root{
    --header-bg: #1B1B32;
    --grid-lastcolors: #E9E9E9;
    --grid-background: #F0F0F0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: inherit;
    background-color: white;
}
.magazine-cover{
    display: grid;
    margin: 0 auto;
    max-width: 800px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr ;
    grid-template-areas: 
    "title title title"
    "feature-article feature-article cover-image"
    "small-article1 small-article2 cover-image"
    ;
}
.title{
    grid-area: title;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--header-bg);
    height: 70px;
}

.feature-article{
    display: grid;
    grid-area: feature-article;
    grid-column: 1 / 3;
    background-color: white;
    
    padding: 20px;
    flex-direction: column;
}
.small-article1{
    display: grid;
    grid-column: 1 / 2;
    grid-area:small-article1;
      flex-direction: column;
            justify-content: center;
}
.small-article2{
    grid-area:small-article2;
    display: flex;
    flex-direction: column;
   
}
.cover-image{
    display: grid;
    grid-area: cover-image; 
}