*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sarif;
    background-color: #f0f0f0;
}
.container{
    margin-top: 40px;
    width: 80%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
}
h1{
    font-size: 29px;
    margin-top: 15px;
    text-align: center;
    
}

ul li{
    list-style: none;
    padding: 10px;
    background-color: rgb(211, 228, 235);
    margin: 10px;
    border-radius: 5px;
}
.sub-item{
    list-style: disc;
    margin-left: 20px;
    font-size: small;
    
}
a{
    text-decoration: none;
}
a:hover{
    color: red;

}
a:focus{
    outline: 4px solid rgb(74, 74, 240);
    padding: 2px;
}
a:active{
    color: orange;
}
a:visited{
    color: black;
}